h1 {
  /* display: block; */
  font-style: italic;
  text-align: center;
}

.favorite-website {
  color: lightseagreen;
}

div.developer {
  width: 200px;
  display: inline-block;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
}

div.list-container {
  width: 400px;
  margin-left: 40%;
  margin-right: 40%;
}

/* div.list-container {
  width: 400px;
  display: inline-block;
  border: 2px solid green;
  text-align: center;
  padding: 10px;
}

div.container {
  width: 400px;
  display: inline-block;
  border: 2px solid green;
  text-align: center;
  padding: 10px;
} */
